body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: monospace;
	color: #1d1d1d;
}

#main {
	width: 800px;
	text-align: left;
	border: 0;
	padding: 0;
	margin: 0 auto;
	padding-bottom: 100px;
}

h1 {
	text-align: center;
	font-size: 20pt;
	padding: 27px 0;
	border-bottom: 1px solid #1b4b90;
	background-color: #36619d;
	color: #fff;
}

h2 {
	font-size: 14pt;
	padding: 5px 0;
	margin: 14px 0;
	border-bottom: 1px solid #adadad;
}


h3 {
	font-size: 12pt;
	padding: 5px 0;
	margin: 8px 0;
	border-bottom: 1px solid #adadad;
}

p {
	margin-bottom: 7px;
	padding: 6px 0;
}
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

ol {
	list-style-type: decimal;
}
ol li {
	padding-bottom: 7px;
	margin-left: 40px;
}

.code {
	color: #990;
	border-bottom: 1px solid #990;
}

#footer {
	border-top: 1px solid #000;
	margin: 0 auto;
	padding: 12px 0;
	text-align: center;
	position: fixed; 
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	width: 800px;
	background-color: #dce3ee;
}

.ok {
	color: green;
	border-left: 3px solid green;
	padding-left: 7px;
}

.error {
	color: #f00;
	background-color: #FFDEDE;
	border-left: 3px solid #f00;
	padding-left: 7px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.errorfull {
	color: #f00;
	border-left: 3px solid #f00;
	padding-left: 7px;
	background-color: #FFE4E1;
	border-bottom: none;
}

.warn {
	color: #f60;
	border-left: 3px solid #f60;
	padding-left: 7px;
}

.info {
	color: #00688B;
	border-left: 3px solid #00688B;
	padding-left: 7px;
	background-color: #ADD8E6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

ul.nav {
	list-style-type:none;
	margin:0;
	padding: 7px 0;
	background-color: #dce3ee;
	color: #fff;
}

ul.nav li {
	display:inline;
	margin-right: 12px;
	margin-left: 4px;
	padding-bottom: 5px;
}

ul.nav li a {
	text-decoration: none;
}

ul.nav li.current {
	border-bottom: 3px solid #1b4b90;
}

dl {
	padding: 0.5em;
}

dt {
	font-weight: bold;
	color: green;
}
dt:after {
	content: ":";
}

dd {
	margin: 0 0 0 20px;
	padding: 0 0 0.5em 0;
}

pre {
	margin: 4px 0;
}

pre.ok {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #DEFAE1;
}

div.comment {
	border-bottom: 1px solid #adadad;
	height: 120px;
}

div.comment pre {
	margin: 8px 34px 8px 61px;
}

p.dl {
	font-size: 99px;
	float: left;
	width: 60px;
}

p.failed {
	color: #f00;
}

p.success {
	color: green;
}
